h1 {
	font-family : 'Helvetica';
}
body {
	font-family : 'proxima-nova';
}
div.chat-area {
	height : 500px;
	border-radius : 4px;
	overflow-y : scroll;
	width : 100%;
}
div.send-area {
	width : 100%;
	display : none;
}

div.send-area input {
	width : 98%;
	font-size : 1.2em;
	padding : 12px;
}

div.settings-area {
	margin-top : 20px;
	font-family : 'Helvetica';
}

div.login-message {
	padding-top : 15px;
	padding-bottom : 15px;
	font-size : 1.2em;
	color : #aaa;
}

div.settings-area input {
	font-size : 1.1.em;
	padding : 5px;
}

img.chat-sender-picture {
	width : 75px;
	border : 0px solid black;
	border-radius : 4px;
}

div.chat-message-sender {
	display : inline-block;
}

div.chat-message-sender * {
	vertical-align : middle;
	margin : 5px;

}

div.chat-body {
	display : inline-block;
	vertical-align : middle;
	font-size : 1.0em;
}

span.chat-message-sender-name {
	text-align : right;
	font-size : 1.0em;
	font-weight : bold;
}

div.message-time {
	color : #aaa;
	display : block;
	text-align : right;
	padding : 10px;
	font-style : italic;
	float : right;
}
